<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">>
    <head></head>
    <body>
        <form th:fragment="commentForm" class="form-block" action="#" th:action="@{/api/comment}" th:object="${form}" th:method="post">
            <div class="row" style="padding:10px;background-color:#E6E6E6;border-radius:10px;">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group fl_icon">
                        <div class="icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <input class="form-input" type="text" placeholder="닉네임" th:field="*{author}">
                    </div>
                </div>
                <!--                <div class="col-xs-12 col-sm-6 fl_icon">-->
                <!--                    <div class="form-group fl_icon">-->
                <!--                        <div class="icon"><i class="fa fa-envelope-o"></i></div>-->
                <!--                        <input class="form-input" type="text" placeholder="비밀번호" th:field="*{password}">-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                        <textarea class="form-input" required="" placeholder="Your text"
                                  th:field="*{content}"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" style="color: white;">submit</button>
            </div>
        </form>
    </body>
</html>
