<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head"></head>

<body>
<!-- Navigation -->
<th:block th:replace="layout/navigation"></th:block>
<!-- Page Header -->
<header th:replace="layout/header"></header>

<!-- Main Content -->

<div class="container">
    <h3>내용</h3><br>
    <div class="form-group">
        <label for="id">ID : </label>
        <input type="text" class="form-control" id="id" th:value="${posts.id}" readonly>
    </div>

    <div class="form-group">
        <label>작성자 : </label>
        <input type="text" class="form-control" th:value="${posts.author}" readonly>
    </div>
    <div class="form-group">
        <label>날짜 : </label>
        <input type="text" class="form-control" th:value="${posts.date}" readonly>
    </div>
    <div class="form-group">
        <label>제목 : </label>
        <input type="text" class="form-control" th:value="${posts.title}" readonly>
    </div>
    <div class="form-group">
        <label>내용 : </label>
        <textarea rows="5" class="form-control" th:text="${posts.content}" readonly></textarea>
    </div>
    <th:block th:unless="${#lists.isEmpty(posts.list)}">
        <div>첨부파일 :</div>
        <th:block th:each="x : ${posts.list}">
            <a th:href="@{/api/posts/download(id=${x.id})}" th:text="${x.originalFileName}"></a>
            <br>
        </th:block>
    </th:block>
    <br>
    <th:block th:if="${posts.author.equals(username)}">
        <a role="button" th:href="@{/modify(id=${posts.id})}" class="btn btn-primary">수정</a>
        <button type="button" class="btn btn-primary" id="btn-delete">삭제</button>
    </th:block>
    <a class="btn btn-primary" href="/board">목록</a>
</div>

<hr>

<!-- Footer -->
<th:block th:replace="layout/footer"></th:block>
<script src="js/board.js"></script>
</body>

</html>
