<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head"></head>

<body>
<!-- Navigation -->
<th:block th:replace="layout/navigation"></th:block>
<!-- Page Header -->
<header th:replace="layout/header"></header>
<link href="css/register.css" rel="stylesheet">

<!-- Main Content -->

<div class="container">
    <h3>회원가입</h3><br>
    <form class="user">
        <div class="col-xs-3">
            <label for="id" class="labelStyle">ID : </label>
            <input type="text" class="form-control input-sm inputStyle" id="id">
            <button type="button"class="btn btn-info btn-xs" style="padding:7px 12px;margin:5px" id="btn-overlap">중복확인</button><br>
        </div>
        <br>
        <div class="mb-3">
            <label for="pw" class="labelStyle">비밀번호 : </label>
            <input type="password" class="form-control inputStyle" id="pw">
        </div>
        <br>
        <div class="mb-3">
            <label for="pwCheck" class="labelStyle">비밀번호 확인 : </label>
            <input type="password" class="form-control inputStyle" id="pwCheck">
        </div>
        <br>
        <div class="mb-3">
            <label for="name" class="labelStyle">이름 : </label>
            <input type="text" class="form-control inputStyle" id="name">
        </div>
        <br>
        <div class="mb-3">
            <label for="email" class="labelStyle">E-mail : </label>
            <input type="text" class="form-control inputStyle" id="email">
        </div>
        <br>
    </form>
    <br>
    <button type="button" class="btn btn-primary" id="btn-register">가입하기</button>
    <a role="button" class="btn btn-danger" href="/loginPage">취소</a>
</div>

<hr>

<!-- Footer -->
<th:block th:replace="layout/footer"></th:block>
<script src="js/register.js"></script>
</body>

</html>
